$tooltip-color: #fff;
$tooltip-back-color: #666;
$tooltip-leader-size: 10px;

/* ツールチップの設定 */
.tooltip-down {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* 吹き出しの本体 */
  &::after {
    top: calc(($tooltip-leader-size / 2) + ($tooltip-leader-size * 2));
    min-width: 120px;
    max-width: 100%;
    padding: 0.2em 0.5em;
    font-size: 1rem;
    color: $tooltip-color;
    content: attr(data-tooltip);
    background: $tooltip-back-color;
    border-radius: 3px;
    transform: translateX(-1 * $tooltip-leader-size);
  }

  /* 吹き出しのひげ部分 */
  &::before {
    top: calc($tooltip-leader-size / 2);
    content: '';
    border: $tooltip-leader-size solid transparent;
    border-bottom-color: $tooltip-back-color;
  }

  /* マウスホバーしたときの設定 */
  &:hover {
    &::before,
    &::after {
      display: inline-block;
      opacity: 1;
    }
  }
}
